
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.sketch-container {
    width: 60vw;
    height: 60vh;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    background-color: black;
}

#restart-button {
    padding: 10px 15px;
}